@import "tailwindcss";


*{
  margin: 0;
 padding: 0;
}

/* Seu fundo quadriculado personalizado */
.fundo-quadriculado {
  background-color: #0a0a0c;
  background-image: 
    linear-gradient(to right, rgba(139, 92, 246, 0.1) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(139, 92, 246, 0.1) 1px, transparent 1px);
  background-size: 40px 40px;
}